<% layout("layouts/boilerplate") -%>

<div class="col-md-10 m-auto">
  <button type="button" class="btn btn-primary mb-2" data-toggle="modal" data-target="#newContact">New Contact</button>

  <a href="/users/logout" class="float-right btn btn-secondary">Logout</a>

  <% if(!contacts.length) { %>
  <p>You have not added any contacts yet.</p>
  <% } else { %>
  <div id="accordion">
    <% contacts.forEach((contact, index) => { %>
    <div class="card">
      <div class="card-header" id="headingOne">
        <p><%= contact.name %> (<%= contact.company %>)</p>
        <i
          class="fa fa-chevron-down"
          data-toggle="collapse"
          data-target="#collapse<%= contact._id %>"
          aria-hidden="true"
          aria-controls="collapse<%= contact._id %>"
          aria-expanded="true"
        ></i>
      </div>

      <div id="collapse<%= contact._id %>" class="collapse show" aria-labelledby="headingOne">
        <div class="card-body">
          <% if(contact.email) { %>
          <p><b>Email ID : </b> <%= contact.email %></p>
          <% } %> <% if(contact.address) { %>
          <p><b>Address : </b> <%= contact.address %></p>
          <% } %>
          <p><b>Status : </b> <%= contact.status %></p>

          <div class="text-right">
            <button
              type="button"
              class="btn btn-warning edit-contact"
              data-toggle="modal"
              data-target="#editContact"
              data-id="<%= contact._id  %>"
              data-name="<%= contact.name %>"
              data-company="<%= contact.company %>"
              data-phone="<%= contact.phone %>"
              data-email="<%= contact.email %>"
              data-status="<%= contact.status %>"
              data-address="<%= contact.address %>"
            >
              Edit
            </button>
            <form method="POST" class="d-inline" action="/contacts/<%= contact._id  %>">
              <input type="hidden" name="_method" value="DELETE" />
              <button class="btn btn-danger" type="submit">Delete</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <% }); %>
  </div>
  <% } %>

  <!-- New Contact Modal -->
  <div class="modal fade" id="newContact">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add New Contact</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <form action="/contacts" method="POST" class="validated-form" novalidate>
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" name="name" id="name" class="form-control" placeholder="Enter Name" required />
            </div>

            <div class="form-group">
              <label for="company">Company</label>
              <input type="text" name="company" id="company" class="form-control" placeholder="Enter Company Name" />
            </div>

            <div class="form-group">
              <label for="email">E-Mail ID</label>
              <input type="email" name="email" id="email" class="form-control" placeholder="Enter E-Mail ID" />
            </div>

            <div class="form-group">
              <label for="phone">Phone No.</label>
              <input
                type="tel"
                name="phone"
                id="phone"
                class="form-control"
                placeholder="Enter Phone Number"
                required
              />
            </div>

            <div class="form-group">
              <label for="status">Status</label>
              <select name="status" id="status" class="form-control">
                <option value="Not Called">Not Called</option>
                <option value="Wrong Number">Wrong Number</option>
                <option value="Called/Declined">Called/Declined</option>
                <option value="Called/Not Reachable">Called/Not Reachable</option>
                <option value="Called/Postponed">Called/Postponed</option>
                <option value="Called/Accepted">Called/Accepted</option>
                <option value="Emailed/Awaiting Response">Emailed/Awaiting Response</option>
                <option value="Emailed/Declined">Emailed/Declined</option>
                <option value="Emailed/Confirmed">Emailed/Confirmed</option>
              </select>
            </div>

            <div class="form-group">
              <label for="address">Address</label>
              <textarea
                name="address"
                id="address"
                cols="30"
                rows="2"
                class="form-control"
                placeholder="Enter Address"
              ></textarea>
            </div>

            <div class="modal-footer">
              <button type="submit" class="btn btn-success">Save Contact</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Edit Contact Modal -->
  <div class="modal fade" id="editContact">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Edit Contact</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <form method="POST" id="edit-contact-form">
            <input type="hidden" name="_method" value="PUT" />
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" name="name" id="edit-name" class="form-control" placeholder="Enter Name" />
            </div>

            <div class="form-group">
              <label for="company">Company</label>
              <input
                type="text"
                name="company"
                id="edit-company"
                class="form-control"
                placeholder="Enter Company Name"
              />
            </div>

            <div class="form-group">
              <label for="email">E-Mail ID</label>
              <input type="email" name="email" id="edit-email" class="form-control" placeholder="Enter E-Mail ID" />
            </div>

            <div class="form-group">
              <label for="phone">Phone No.</label>
              <input
                type="tel"
                name="phone"
                id="edit-phone"
                class="form-control"
                placeholder="Enter Phone Number"
                required
              />
            </div>

            <div class="form-group">
              <label for="status">Status</label>
              <select name="status" id="edit-status" class="form-control">
                <option value="Not Called">Not Called</option>
                <option value="Wrong Number">Wrong Number</option>
                <option value="Called/Declined">Called/Declined</option>
                <option value="Called/Not Reachable">Called/Not Reachable</option>
                <option value="Called/Postponed">Called/Postponed</option>
                <option value="Called/Accepted">Called/Accepted</option>
                <option value="Emailed/Awaiting Response">Emailed/Awaiting Response</option>
                <option value="Emailed/Declined">Emailed/Declined</option>
                <option value="Emailed/Confirmed">Emailed/Confirmed</option>
              </select>
            </div>

            <div class="form-group">
              <label for="edit-address">Address</label>
              <textarea
                name="address"
                id="edit-address"
                cols="30"
                rows="2"
                class="form-control"
                placeholder="Enter Address"
              ></textarea>
            </div>

            <div class="modal-footer">
              <button type="submit" class="btn btn-warning">Update Contact</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
