<% layout("layouts/boilerplate") -%>

<!-- prettier-ignore -->
<%- include("../partials/sidebar.ejs") %>
<!-- prettier-ignore -->

<div class="row mt-5">
  <div class="col-md-10 m-auto">
    <%- include("../partials/flash.ejs") %>
    <h1 class="text-center">DASHBOARD</h1>
  </div>

  <div class="col-md-10 m-auto">
    <% if(!(role === "Executive Director")) { %> 
    <button type="button" class="btn btn-primary mb-2" data-toggle="modal" data-target="#newContact">
      New Contact
    </button>
    <% } %> 
  </div>

  <div class="col-md-10 m-auto">
    <% if(!contacts.length) { %>
    <p>You have not added any contacts yet.</p>
    <% } else { %>
    <input type="text" name="search" id="search" class="form-control offset-sm-6 col-sm-6 mb-2" placeholder="Search" />
    <div id="accordion">
      <% contacts.forEach((contact, index) => { %>
      <div class="card">
        <div class="card-header" id="headingOne">
          <p class="contact-header">
            <%= contact.name %> (<%= contact.company %>)
            <div class="contactStatus"> <%= contact.status %> </div>
            <% if(!(role === "Member")) { %> 
            <div class="contactIncharge">
              <% if(contact.user.incharge) { %>
                <%= contact.user.incharge %> /
              <% } %>
              <% if(contact.user.name) { %>
                <%= contact.user.name %> 
              <% } %> 
            </div>
            <% } %> 
            <i
              class="fa fa-chevron-down"
              data-toggle="collapse"
              data-target="#collapse<%= contact._id %>"
              aria-hidden="true"
              aria-controls="collapse<%= contact._id %>"
              aria-expanded="true"
            ></i>
          </p>

        </div>

        <div id="collapse<%= contact._id %>" class="collapse show" aria-labelledby="headingOne">
          <div class="card-body">
            <p><b>Phone Number : </b> <%= contact.phone %></p>
            <% if(contact.email) { %>
            <p><b>Email ID : </b> <%= contact.email %></p>
            <% } %> <% if(contact.address) { %>
            <p><b>Address : </b> <%= contact.address %></p>
            <% } %> <% if(contact.mode) { %>
            <p><b>Interview Mode : </b> <%= contact.mode %></p>
            <% } %> <% if(contact.count) { %>
            <p><b>HR Count : </b> <%= contact.count %></p>
            <% } %>
            <% if(contact.deptPreference && contact.deptPreference.length) { %> 
              <p><b>Department Preferences : </b><%= contact.deptPreference %></p>
            <% } %> 
            <% if(contact.comments) { %> 
              <p><b>Comments : </b><%= contact.comments %></p>
            <% } %> 

            <% if(!(role === "Executive Director")) { %> 
            <div class="text-right">
              <button
                type="button"
                class="btn btn-warning edit-contact"
                data-toggle="modal"
                data-target="#editContact"
                data-id="<%= contact._id  %>"
                data-name="<%= contact.name %>"
                data-company="<%= contact.company %>"
                data-phone="<%= contact.phone %>"
                data-email="<%= contact.email %>"
                data-status="<%= contact.status %>"
                data-mode="<%= contact.mode %>"
                data-count="<%= contact.count %> "
                data-deptPreferences = "<%= contact.deptPreference %>"
                data-comments = "<%= contact.comments %>"
                data-ownTransport = <%= contact.ownTransport %>
                data-address="<%= contact.address %>"
              >
                Edit
              </button>
              <button
                type="button"
                class="btn btn-danger delete-contact"
                data-toggle="modal"
                data-target="#deleteContact"
                data-id="<%= contact._id %>"
              >
                Delete
              </button>
            </div>
            <% } %> 
          </div>
        </div>
      </div>
      <% }); %>
    </div>
    <% } %>
  </div>
</div>

<%- include("./modals/new.ejs"); %> 
<%- include("./modals/edit.ejs"); %> 
<%- include("./modals/delete.ejs"); %> 
