<% layout("layouts/boilerplate") -%> <%- include("../partials/sidebar.ejs") %>
<div class="row mt-5">
  <div class="col-md-10 m-auto">
    <%- include("../partials/flash.ejs") %>
    <h1 class="text-center">DASHBOARD</h1>
  </div>

  <div class="col-md-10 m-auto">
    <button type="button" class="btn btn-primary mb-2" data-toggle="modal" data-target="#newContact">
      New Contact
    </button>

    <input type="text" name="search" id="search" class="form-control float-right col-sm-6 mb-2" placeholder="Search" />

    <% if(!contacts.length) { %>
    <p>You have not added any contacts yet.</p>
    <% } else { %>
    <div id="accordion">
      <% contacts.forEach((contact, index) => { %>
      <div class="card">
        <div class="card-header" id="headingOne">
          <p class="contact-header">
            <%= contact.name %> (<%= contact.company %>)
            <i
              class="fa fa-chevron-down"
              data-toggle="collapse"
              data-target="#collapse<%= contact._id %>"
              aria-hidden="true"
              aria-controls="collapse<%= contact._id %>"
              aria-expanded="true"
            ></i>
          </p>
        </div>

        <div id="collapse<%= contact._id %>" class="collapse show" aria-labelledby="headingOne">
          <div class="card-body">
            <% if(contact.email) { %>
            <p><b>Email ID : </b> <%= contact.email %></p>
            <% } %> <% if(contact.address) { %>
            <p><b>Address : </b> <%= contact.address %></p>
            <% } %>
            <p><b>Status : </b> <%= contact.status %></p>
            <p><b>Interview Mode : </b> <%= contact.mode %></p>
            <p><b>HR Count : </b> <%= contact.count %></p>

            <div class="text-right">
              <button
                type="button"
                class="btn btn-warning edit-contact"
                data-toggle="modal"
                data-target="#editContact"
                data-id="<%= contact._id  %>"
                data-name="<%= contact.name %>"
                data-company="<%= contact.company %>"
                data-phone="<%= contact.phone %>"
                data-email="<%= contact.email %>"
                data-status="<%= contact.status %>"
                data-mode="<%= contact.mode %>"
                data-count="<%= contact.count %> "
                data-address="<%= contact.address %>"
              >
                Edit
              </button>
              <button
                type="button"
                class="btn btn-danger delete-contact"
                data-toggle="modal"
                data-target="#deleteContact"
                data-id="<%= contact._id %>"
              >
                Delete
              </button>
              <!-- </form> -->
            </div>
          </div>
        </div>
      </div>
      <% }); %>
    </div>
    <% } %>
  </div>
</div>

<!-- New Contact Modal -->
<div class="modal fade" id="newContact">
  <div class="modal-dialog form-modal">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add New Contact</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form action="/contacts" method="POST" class="validated-form" novalidate>
          <%- include("../partials/form_fields.ejs"); %>
          <div class="modal-footer">
            <button type="submit" class="btn btn-success">Save Contact</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Edit Contact Modal -->
<div class="modal fade" id="editContact">
  <div class="modal-dialog form-modal">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Contact</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form method="POST" id="edit-contact-form">
          <input type="hidden" name="_method" value="PUT" />
          <%- include("../partials/form_fields.ejs"); %>
          <div class="modal-footer">
            <button type="submit" class="btn btn-success">Update Contact</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Delete Contact Modal -->
<div class="modal fade" id="deleteContact">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Contact</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <p>Are you sure you want to delete this contact?</p>
        <form method="POST" id="delete-contact-form">
          <input type="hidden" name="_method" value="DELETE" />
          <div class="modal-footer">
            <button type="submit" class="btn btn-danger">Yes</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
